<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header>
        <h2 class="logo">Summer festival</h2>
        <nav>
            <ul class="nav_links">
                <li><a href="#"></a>Line up</li>
                <li><a href="#"></a>Stages</li>
                <li><a href="/FAQ"></a>FAQs</li>
            </ul>
        </nav>
        <li>
            <a href="/" class="
            nav__link--anchor
            nav__link--anchor-primary
            ">Home</a>
        </li>
    </header>

    <section id="FAQ_page">
        <h2>FAQs</h2>
            <div class="faq">
                <div class="question">
                    <h3>Do you have accessible toilets?</h3>

                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke_linecap="round"/>
                    </svg>

                </div>

                <div class="answer">
                    <p class="faq_answer">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In quae excepturi totam soluta ut iure consequatur ipsam, dolorum, adipisci repellendus aliquid quas optio obcaecati molestias sint magnam dolor quisquam nostrum!
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3>Do I have to camp?</h3>

                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke_linecap="round"/>
                    </svg>

                </div>

                <div class="answer">
                    <p class="faq_answer">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In quae excepturi totam soluta ut iure consequatur ipsam, dolorum, adipisci repellendus aliquid quas optio obcaecati molestias sint magnam dolor quisquam nostrum!
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3>Do I have to pay for parking?</h3>

                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke_linecap="round"/>
                    </svg>

                </div>

                <div class="answer">
                    <p class="faq_answer">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In quae excepturi totam soluta ut iure consequatur ipsam, dolorum, adipisci repellendus aliquid quas optio obcaecati molestias sint magnam dolor quisquam nostrum!
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3>Can I bring animals?</h3>

                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke_linecap="round"/>
                    </svg>

                </div>

                <div class="answer">
                    <p class="faq_answer">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In quae excepturi totam soluta ut iure consequatur ipsam, dolorum, adipisci repellendus aliquid quas optio obcaecati molestias sint magnam dolor quisquam nostrum!
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3>Do you have lost property?</h3>

                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke_linecap="round"/>
                    </svg>

                </div>

                <div class="answer">
                    <p class="faq_answer">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In quae excepturi totam soluta ut iure consequatur ipsam, dolorum, adipisci repellendus aliquid quas optio obcaecati molestias sint magnam dolor quisquam nostrum!
                    </p>
                </div>
            </div>
    </section>
    

    <div class="footer">
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <h2 class="logo footer_logo">Summer Festival</h2>
                    <div class="footer_list">
                        <ul class="footerlinks">
                            <li class="footer_links"><a href="/"></a>Home</li>
                            <li class="footer_links"><a href="#"></a>Line up</li>
                            <li class="footer_links"><a href="#"></a>Stages</li>
                            <li class="footer_links"><a href="/contact"></a>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>    
        </footer>
    </div>
<script src="./javascript/FAQs.js"></script>
</body>
</html>