<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h2 class="logo">Summer festival</h2>
        <nav>
            <ul class="nav_links">
                <li><a href="/stages" class="
                    nav__link--anchor
                    nav__link--anchor-primary
                    ">Stages</a>
                </li>
                <li><a href="/FAQ" class="
                    nav__link--anchor
                    nav__link--anchor-primary
                    ">FAQ</a>
                </li>
            </ul>
        </nav>
        <li>
            <a href="/contact" class="
            nav__link--anchor
            nav__link--anchor-primary
            ">Contact</a>
        </li>
    </header>

    <section id="landing_page">   
        <div class="about_event_info row">
            <div class="about_event_info_container">
                    <h1 class="about_event_info_title">
                        <span>1st July 2023!</span>
                    </h1>
                    <h3 class="about_event_info_para">
                        Come and join us at the Southampton Common for great food and live music!
                    </h3>
            </div>
        </div>

        <div class="flexmain_container">
            <div class="left_wrapper">
              <img class="img" src="./Images/night festival.jpg" alt="People eating food">
            </div>
            <div class="right_wrapper">
                  <h2><span>Great bands performing at night!</span></h2>
                  <p class="text_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo assumenda incidunt quo magnam consequuntur, voluptas expedita fuga, totam maxime soluta odio quis neque asperiores quaerat quasi amet beatae earum aut! Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <div class="ticket_btn_wrapper">
                    <button class="ticket_btn">Buy tickets here!</button>
                  </div>
            </div>
        </div>
    </section> 
    
    <section id="line_up">
        <div class="container">
            <div class="row">
                <h2 class="section_title">
                    Our <span>line up</span>
                </h2>
                <div class="bands">
                    <div class="band">
                        <figure class="band_img_wrapper">
                            <img class="band_img" src="./Images/the cooks.jpg" alt="The Cooks">
                        </figure>
                        <div class="band_name">
                            The Cooks
                        </div>
                    </div>
                    
                    <div class="band">
                        <figure class="band_img_wrapper">
                            <img class="band_img" src="./Images/catfish and the bottlemen.jpg" alt="Catfish and the Bottlemen">
                        </figure>
                        <div class="band_name">
                            Catfish and the Bottlemen
                        </div>
                    </div>

                    <div class="band">
                        <figure class="band_img_wrapper">
                            <img class="band_img" src=".//Images/coldplay.jpg" alt="Coldplay">
                        </figure>
                        <div class="band_name">
                            Coldplay
                        </div>
                    </div>

                    <div class="band">
                        <figure class="band_img_wrapper">
                            <img class="band_img" src="./Images/mumford and sons.jpg" alt="Mumford and Sons">
                        </figure>
                        <div class="band_name">
                            Mumford and Sons
                        </div>
                    </div>

                    <div class="band">
                        <figure class="band_img_wrapper">
                            <img class="band_img" src="./Images/two door cinema club.jpg" alt="">
                        </figure>
                        <div class="band_name">
                            Two Door Cinema Club
                        </div>
                    </div>

                    <div class="band">
                        <figure class="band_img_wrapper">
                            <img class="band_img" src="./Images/jake bugg.jpg" alt="">
                        </figure>
                        <div class="band_name">
                            Jake Bugg
                        </div>
                    </div>

                    <div class="band">
                        <figure class="band_img_wrapper">
                            <img class="band_img" src="./Images/gerry cinnamon.jpg" alt="">
                        </figure>
                        <div class="band_name">
                            Gerry Cinnamon
                        </div>
                    </div>

                    <div class="band">
                        <figure class="band_img_wrapper">
                            <img class="band_img" src="./Images/blossoms.jpg" alt="">
                        </figure>
                        <div class="band_name">
                            Blossoms
                        </div>
                    </div>
                </div>  
            </div>
        </div>          
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <h2 class="logo footer_logo">Summer Festival</h2>
            </div>
        </div>    
    </footer>
</body>
</html>