<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stages</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h2 class="logo">Summer festival</h2>
        <nav>
            <ul class="nav_links">
                <li><a href="/stages" class="
                    nav__link--anchor
                    nav__link--anchor-primary
                    ">Stages</a>
                </li>
                <li><a href="/FAQ" class="
                    nav__link--anchor
                    nav__link--anchor-primary
                    ">FAQ</a>
                </li>
                <li><a href="/" class="
                    nav__link--anchor
                    nav__link--anchor-primary
                    ">Home</a>
                </li>
            </ul>
        </nav>
        <li>
            <a href="/contact" class="
            nav__link--anchor
            nav__link--anchor-primary
            ">Contact</a>
        </li>
    </header>

    <h2 class="stages_heading">At the Summer Festival we will have two main stages</h2>

    <div class="flexmain_container">
        <div class="left_wrapper">
          <img src="./Images/blue stage.jpg" alt="">
          <a href="/blue_stage"><button class="blue_stage_btn">View Blue stage line up</button></a>
        </div>
        <div class="right_wrapper">
             <img src="./Images/red stage.jpg" alt="">
                <a href="/red_stage"><button class="red_stage_btn">View Red stage line up</button></a>
              </div>
        </div>
    </div>

    
    
    
    
    <div class="stages_footer">
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <h2 class="logo footer_logo">Summer Festival</h2>
                </div>
            </div>    
        </footer>
    </div>
   
</body>
</html>