*{
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    box-sizing: border-box;
    padding: 0;
    line-height: 1;
}

span{
    color: #0088a9;
}


li{
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

button{
    background-color: #0088a9;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    cursor: no-drop;
}

button:hover{
    background-color:#0d5e72;
}

button:active{
    transform: translateY(1px);
    ;
}

h1{
    font-size: 60px;
    font-weight: bold;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 28px;
}

body{
    background-color: #24252a;
}

/* HEADER */
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:#1d1d1f ;
}

.logo{
   
    font-weight: bold;
}

/* NAV */
.nav_links{
    text-align: center;
    cursor: pointer;
    padding-right: 175px;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 300ms ease 0s;
}

.nav__link--anchor-primary{
    background-color: rgba(0, 136, 169,1);
    padding: 8px 20px ;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
    
}

.nav__link--anchor-primary:hover{
    background-color: rgba(0, 136, 169,0.8) ;
    text-decoration: underline;
}
/* LANDING PAGE */
#landing_page{
    background-color: #24252a;
}

.about_event_info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    max-width:700px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
  }

.about-event_info_title{
    margin-bottom: 12px;
}


.about_event_info_para{
    margin-bottom: 28px;  
    padding-top: 20px;
  }

.flexmain_container{
    
    display: flex;
    justify-content: space-around;
    height: 30vh;
    padding-top: 50px;
}

.img{
    width: 100%;
    
}

.text_info{
    padding-top: 10px;
}

.right_wrapper{
    width: 50%;
   
}

.left_wrapper, .right_wrapper{
    width: 50vh;
}

.ticket_btn_wrapper{
    padding-top: 5px;
}

.ticket_btn{
    cursor: pointer;
}
/* LINE UP*/
#line_up{
    background-color: #393a41;
}
.section_title{
    text-align: center;
}

.bands{
    display: flex;
    flex-wrap: wrap;
}

.band{
    width: 25%;
    padding: 24px;
}

.band_img{
    max-height: 380px;
    transition: all 300ms ease;
    cursor: no-drop;
}

.band_img_wrapper{
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.band:hover .band_img{
transform: scale(1.03);
}

.container{
    padding: 56px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.band_name{
    color: #0088a9;
    text-align: center;
}

/* FOOTER */

footer{
    background-color: #1d1d1f;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_logo{
    padding-top: 20px;
}

ul{
    display: flex;
    cursor: pointer;
}

.footer_list{
    margin: 24px 0 24px 0;
}

.footer_links{
    padding-left: 10px;
}

.footerlinks{
    padding-left: 35px;
}


.footer{
    padding-top: 300px;
}
/* CONTACT FORM */

#contact_wrapper{
    background-color: #24252a;
}

#contact_form_header{
    color: #0088a9;
    text-align: center;
    padding-top: 80px;
}

#contact_form{
    text-align: center;
    background-color: #24252a;
    padding-top: 20px;
    line-height: 1.5;
}

.btn_wrapper{
    padding-top: 10px;
}

.textbox{
    width: 300px;
    height: 30px;
}

.message_txt_box{
    width: 300px;
    height: 100px;
    
}

input{
    color: black;
}

#contact_form_btn{
    cursor: pointer;
}

/* FAQ PAGE */
#FAQ_page{
    padding-top: 100px;
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease;
}

.answer p{
    line-height: 1,5;
    animation: fade 1s ease-in-out;
}

.faq_answer{
    padding-top: 10px;
}

.faq.active .answer{
    max-height: 300px;
}

.faq.active.svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.s ease-in;
}

@keyframes fade {
    from{
      opacity: 0;  
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

